# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
dist/
build/
.turbo/

# Env & secrets — jamais commités
.env
.env.*
!.env.example
*clouds.yaml
*clouds*.yml
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
